/* --------------------------------------------------------
Import All Stylesheets
-------------------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url("stylesheet.css");
@import url("menu.css");
@import url("themes/default/jquery.mobile-1.3.2.min.css");
@import url("../menu/css/main.css");
@import url("../flexslider/flexslider.css");
@import url("add2home.css");
@import url("retina.css");
@import url("../owl-carousel/owl-carousel/owl.carousel.css");
@import url("../owl-carousel/owl-carousel/owl.theme.css");
@import url("../js/glyphicons/bootstrap.icon-large.min.css");
@import url("tweets/livetweets.css");
@import url("../photoswipe/photoswipe.css");
@import url("../font-awesome/css/font-awesome.css");
@import url("../font-awesome/css/font-awesome.min.css");
@import url("supersized.css");
@import url("supersized.shutter.css");

.h1-fa{
	font-size: 40px;
	margin-right:15px;
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/progress.gif) center no-repeat #fff;
}
.product-meta-img{
	width:100%;
	max-width:100%;
	border-radius: 10px;
}
.product-category:nth-child(odd){
	background: #efefef;
    padding: 30px;
    text-align: center;
    color: #000;
    font-weight: bold;
}
.product-category:nth-child(even){
	background: #ffffff;
    padding: 30px;
    text-align: center;
    color: #000;
    font-weight: bold;
}
.product-list:nth-child(odd){
	background: #efefef;
    padding: 30px;
    color: #000;
}
.product-list:nth-child(even){
	background: #ffffff;
    padding: 30px;
    color: #000;
}
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 5%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 47.5%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 5%;
	}
}

@media only screen and (max-width: 480px) {
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 47.5%;
}
}
.ui-body-a{
	background: #fff;
}
.ui-panel-position-right.ui-panel-display-reveal, .ui-panel-position-right.ui-panel-open{
	background: #000;
}
.lead{
	background: #e85432;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    color: #fff;
	margin-top:20px;
}
.email-info{
	background: #9b9b9b;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    color: #fff;
	margin-top:20px;
}
#items>li>a:hover, #items>li>a.activated{
	    background-color: #e85432;
		color: #fff !important;
}
.ui-content .ui-btn-up-a .ui-btn-inner{
	background-color: #e85432;
	border-color: #e85432;
}
.ui-content input{
	width: 100%;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 10px;
    margin-bottom: 20px;
	border: 1px solid #dedede;
}
.ui-content input:placeholder{
	margin-left:15px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */  
  padding-left:15px;
}
::-moz-placeholder { /* Firefox 19+ */  
  padding-left:15px;
}
:-ms-input-placeholder { /* IE 10+ */  
  padding-left:15px;
}
:-moz-placeholder { /* Firefox 18- */  
  padding-left:15px;
}

.comm-list:nth-child(odd){
	background: #c1b8b8;
}